<server description="MFT DB Logger">

    <featureManager>
                <feature>jdbc-4.0</feature>
		<feature>jpa-2.0</feature>
		<feature>jms-2.0</feature>
		<feature>mdb-3.2</feature>
		<feature>ejbLite-3.2</feature>
		<feature>wmqJmsClient-2.0</feature>
		<feature>transportSecurity-1.0</feature>
    </featureManager>

    <httpEndpoint httpPort="-1" httpsPort="-1" id="defaultHttpEndpoint"/>
    
    <ssl id="defaultSSLConfig" keyStoreRef="defaultKeyStore" trustDefaultCerts="true" trustStoreRef="defaultKeyStore"/>
    <keyStore id="defaultKeyStore" location="${server.config.dir}/resources/security/key.p12" password="${KEYSTORE_PASSWORD}"/>   
        
    <variable name="wmqJmsClient.rar.location" value="${server.config.dir}/lib/wmq.jmsra.rar"/> 

    <authData id="FTECOORD-ID" password="${MQ_PASSWORD}" user="${MQ_USER}"/>

    <jdbcDriver id="Oracle" javax.sql.XADataSource="oracle.jdbc.xa.client.OracleXADataSource">
        <library name="Oracle">
            <fileset dir="${server.config.dir}/lib" includes="*.jar"/>
        </library>
    </jdbcDriver>

    <dataSource id="wmqfte-database" jdbcDriverRef="Oracle" jndiName="jdbc/wmqfte-database" type="javax.sql.XADataSource">
    	<properties.oracle URL="j${DB_CONN_STRING}" password="${DB_PASSWORD}" user="${DB_USER}"/>
    	<connectionManager maxPoolSize="20" minPoolSize="0"/>
    </dataSource>

    <jmsActivationSpec authDataRef="FTECOORD-ID" id="com.ibm.wmqfte.databaselogger.jee.oracle/com.ibm.wmqfte.databaselogger.jee.ejb/DatabaseLoggerMDB">
    	<properties.wmqJms channel="${MQ_CHANNEL}" clientId="${MQ_CLIENT_ID}" destinationRef="MFTLoggerTopic" destinationType="javax.jms.Topic" hostName="${MQ_HOST}" port="${MQ_PORT}" queueManager="${MQ_QMGR}" subscriptionDurability="Durable" subscriptionName="SYSTEM.FTE.DATABASELOGGER.AUTO"/>
    </jmsActivationSpec>

    <jmsTopic id="MFTLoggerTopic" jndiName="jms/MFTLoggerTopic">
    	<properties.wmqJms baseTopicName="SYSTEM.FTE"/>
    </jmsTopic>
    
    <jmsQueue jndiName="jms/WMQFTEJEEDBLoggerRejectQueue">
    	<properties.wmqJms baseQueueManagerName="${MQ_QMGR}" baseQueueName="SYSTEM.FTE.LOG.RJCT.${MQ_LOGGER_NAME}"/>
    </jmsQueue>
    
    <jmsQueueConnectionFactory containerAuthDataRef="FTECOORD-ID" jndiName="jms/WMQFTEJEEDBLoggerRejectQueueCF">
    	<properties.wmqJms channel="${MQ_CHANNEL}" hostName="${MQ_HOST}" port="${MQ_PORT}" queueManager="${MQ_QMGR}"/>
    </jmsQueueConnectionFactory>
    
</server>
