<server description="MFT DB Logger">

    <!-- Enable features -->
    <featureManager>
        <feature>jdbc-4.0</feature>
        <feature>jpa-2.0</feature>
        <feature>jms-2.0</feature>
        <feature>mdb-3.2</feature>
        <feature>ejbLite-3.2</feature>
        <feature>wmqJmsClient-2.0</feature>
        <feature>transportSecurity-1.0</feature>
        <feature>localConnector-1.0</feature>
    </featureManager>

    <httpEndpoint httpPort="-1" httpsPort="-1" id="defaultHttpEndpoint"/>
    
    <ssl clientAuthenticationSupported="false" id="defaultSSLConfig" keyStoreRef="defaultKeyStore" trustStoreRef="defaultKeyStore"/>
    <keyStore id="defaultKeyStore" location="${server.config.dir}/resources/security/key.p12" password="{aes}somepassword"/>   
    
    <variable name="wmqJmsClient.rar.location" value="${server.config.dir}/lib/wmq.jmsra.rar"/> 
    
    <authData id="FTECOORD-ID" password="{aes}mypassword" user="myuser"/>

    <jdbcDriver id="Oracle" javax.sql.XADataSource="oracle.jdbc.xa.client.OracleXADataSource">
        <library name="Oracle">
            <fileset dir="${server.config.dir}/lib" includes="*.jar"/>
        </library>
    </jdbcDriver>

    <dataSource id="wmqfte-database" jdbcDriverRef="Oracle" jndiName="jdbc/wmqfte-database" type="javax.sql.XADataSource">
    	<properties.oracle URL="jdbc:oracle:thin:@otto.na.ad.atg.com:1521:ora10r2" databaseName="mydb" password="mypassword" user="myuser"/>
    	<connectionManager maxPoolSize="20" minPoolSize="0"/>
    </dataSource>

    <jmsActivationSpec authDataRef="FTECOORD-ID" id="com.ibm.wmqfte.databaselogger.jee.oracle/com.ibm.wmqfte.databaselogger.jee.ejb/DatabaseLoggerMDB">
    	<properties.wmqJms applicationName="LOGGER1" channel="FTECOORD.SVRCON" clientId="MFTDBLogger" destinationRef="MFTLoggerTopic" destinationType="javax.jms.Topic" hostName="myhost" port="1414" queueManager="FTECOORD" subscriptionDurability="Durable" subscriptionName="SYSTEM.FTE.DATABASELOGGER.AUTO"/>
    </jmsActivationSpec>

    <jmsTopic id="MFTLoggerTopic" jndiName="jms/MFTLoggerTopic">
    	<properties.wmqJms baseTopicName="SYSTEM.FTE"/>
    </jmsTopic>
    
    <jmsQueue jndiName="jms/WMQFTEJEEDBLoggerRejectQueue">
    	<properties.wmqJms baseQueueManagerName="FTECOORD" baseQueueName="SYSTEM.FTE.LOG.RJCT.LOGGER1"/>
    </jmsQueue>
    
    <jmsQueueConnectionFactory containerAuthDataRef="FTECOORD-ID" jndiName="jms/WMQFTEJEEDBLoggerRejectQueueCF">
    	<properties.wmqJms applicationName="LOGGER1" channel="FTECOORD.SVRCON" hostName="myhost" port="1414" queueManager="FTECOORD"/>
    </jmsQueueConnectionFactory>
</server>
